#bar {
  min-height: 50px;
  background: linear-gradient(rgb(42, 244, 255), rgb(172, 236, 255));
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 12px;
  color: #000;
  font-weight: 600;
  margin: 5px;
  border-radius: 12px;
}

.active {
  background: rgb(255 247 114) !important;
}
.swap {
  background: rgb(255, 144, 108) !important;
  color: white !important;
}

.sorted {
  background: linear-gradient(
    128deg,
    rgb(25, 176, 75),
    rgb(181 252 213)
  ) !important;
}
